<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>大屏人员签到</title>
		<!--响应式mate标签-->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="styles/styles.css" />
		<link rel="stylesheet" href="styles/liMarquee.css" />
		<!-- <script type="text/javascript" src="scripts/config.js" ></script>		 -->
		<script type="text/javascript" src="scripts/config_test.js" ></script>		
	</head>

	<body>
		<div id="bigScreenContainer" v-cloak class="container">
			<header>
				<div class="logo h-content"><img src="images/LOGO.png"/></div>
				<div class="title h-content" :style="'width:'+titleWidth+ 'px'" id="titleContent">{{title}}</div>
			</header>
			<!--顶部人员统计-->
			<div class="people-statistics">
				<div class="people-scroll-wrapper">
					<ul class="people-scroll-ul" id="peopleScrollLongitudinal">
						<li class="people-scroll-li" v-for="pl in peopleLongitudinalList">
							<div class="people-items">
								<span class="people-orgName">{{pl.orgName}}：</span>
								<span class="people-value">{{pl.count}}</span>
								<span class="img-area">
									<img src="images/people.png"/>
								</span>
							</div>
						</li>
					</ul>
				</div>
				
				<div class="approach-people-wrapper">
					<p>进场人数</p>
					<div class="approach-data">
						<span class="font-bold">{{approachpPeopleNum}}</span>
						<img src="images/people.png"/>
					</div>
				</div>
				<div class="right-date-wrapper">
					<div class="date-value">{{time.yyyymmdd}}</div>
					<div class="date-value">{{time.week}}</div>
					<div class="date-value">{{time.HHmmss}}</div>
					<!--<div class="residue-day">还剩<span>173</span>天</div>-->
				</div>
			</div>
			<!--/顶部人员统计-->
			<!--底部人员统计-->
			<div class="people-statistics-b">
				<div class="p-content people-scroll-wrapper-b" id="peopleScrollLandscape"> 
					<!--:style="'width:'+peopleScrollLandscapeWidth+ 'px'" -->
					<ul class="people-statistics-b-ul" :style="'width:'+peopleScrollLandscapeWidth+ 'px'" id="peopleScrollLandscapeUL">
						<li class="people-statistics-b-li" v-for="pll in peopleListLandscape">
							<div class="people-items">
								<span class="people-orgName">{{pll.orgName}}：</span>
								<span class="people-value">{{pll.count}}</span>
								<span class="img-area">
									<img src="images/people-fff.png"/>
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!--/底部人员统计-->
			<!--签到区域-->
			<div class="signin-wrapper">
				<div class="signin-inner-wrapper">
					<!--动态内容-->
					<div class="dynamic-content">
						<default-dynamic :weather="weatherData" v-if="!isSign"></default-dynamic>
						<people-info :people="peopleData" v-if="isSign"></people-info>
					</div>
					<!--/动态内容-->
					<div class="approach-people-b">
						<p>进场人员</p>
						<div class="approach-people-data">
							<ul class="approach-people-b-ul" id="approachPeopleWrapper">
								<li class="approach-people-b-li" v-for="ap in approachPeople" :approach-domId="ap.userId">
									<div class="items">{{ap.orgName}}</div>
									<div class="items">{{ap.userName}}</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--/签到区域-->
			<!--安全提示-->
			<div class="security-prompt">
				<div class="prompt-header prompt-content">安全提示：</div>
				<div class="prompt-content" :style="'width:'+promptContentWrapperWidth+ 'px'" id="promptContentWrapper"><span>{{tipMessage}}</span></div>
			</div>
			<!--/安全提示-->
		</div>
		<script type="text/javascript" src="scripts/jquery-1.8.3.min.js" ></script>
		<script src="scripts/require.js" data-main='./scripts/bigscreen.js'></script>
	</body>
</html>
